{% extends 'user/case_tem.html'%}
{% from 'bootstrap/form.html' import render_form %}

{% block title%}添加当事人{% endblock%}
{% block case_content%}

    <div class="card w-100 bg-light">
        <h3 class="card-header">添加当事人</h3>
        <div class="card-body">
            {{ render_form(form) }}
        </div>
    </div>
				{#	

				{{ form.csrf_token}}

				{{ form.clients.label}} 
				{{ form.clients()}}
				{{ form.client_name.label}}
				{{ form.client_name()}}

				{{ form.client_name.label }}
				{{ form.client_name() }}
				{{ form.client_sex.label  }}
				{{ form.client_sex()  }}
				{{ form.client_ymd.label  }}
				{{ form.client_ymd()  }}
				{{ form.client_address.label  }}
				{{ form.client_address()}}  
				{{ form.client_id.label  }}
				{{ form.client_id()  }}
				{{ form.client_phone_number.label  }}
				{{ form.client_phone_number()  }}
				#}

{% endblock %}
