{% extends 'base.html'%}
{% from 'bootstrap/form.html' import render_form %}


{% block content%}


		<form method = "post">
			{{ render_form(form)}}
				{#	

				{{ form.csrf_token}}

				{{ form.clients.label}} 
				{{ form.clients()}}
				{{ form.client_name.label}}
				{{ form.client_name()}}

				{{ form.client_name.label }}
				{{ form.client_name() }}
				{{ form.client_sex.label  }}
				{{ form.client_sex()  }}
				{{ form.client_ymd.label  }}
				{{ form.client_ymd()  }}
				{{ form.client_address.label  }}
				{{ form.client_address()}}  
				{{ form.client_id.label  }}
				{{ form.client_id()  }}
				{{ form.client_phone_number.label  }}
				{{ form.client_phone_number()  }}
				#}

		</form>
{% endblock content%}
