{% extends 'base.html'%}

{% block content %}
<div class = 'row'>
	<div class = 'col-md-2'>
		{% include 'user/_nav.html'%}
	</div>
<div class = 'col'>

<table class="table table-striped  table-hover table-condensed ">
  <thead>
    <tr>
      <th>{{case_id}}</th>

    </tr>
  </thead>
  <tbody>
					{% for f in find %}
					{% for k,v in f.items()%}
			<tr>
					<td>{{ k }}</td>
					<td>{{ v }}</td>

			</tr>
			{% endfor %}
			{% endfor %}
    </tr>
  </tbody>
</table>
<table class="table table-striped  table-hover table-condensed ">
		<thead>
				<tr>
						<th>已生成文书</th>
				</tr>
		</thead>
		<tbody>
				{% for docx in  all_docxs %}
				<tr><td><a class = 'nav-link' href ='{{ url_for('user.downloads' ,document_name  = docx ) }}'>{{ docx }}</a></td></tr>
				{% endfor %}

		</tbody>
</table>

{% endblock %}


</div>
