{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block head%}

	<title> {% block title %}title {% endblock %} </title>


	{% block styles%}
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}" rel="stylesheet" type ="text/css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="{{ url_for('static',filename = 'jquery-3.4.1/jquery-3.4.1.min.js"')}}../static/></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
	<title>Title</title>
	{% endblock  styles%}

  </style>
	{% endblock head%}
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('user.case', '所有案件') }}
					<form class="form-inline my-2 my-lg-0" action = "{{ url_for('user.search')}}">
                        <input type="text" name="q" class="form-control mr-sm-1" placeholder="案号或当事人"
                               required>
                        <button class="btn btn-light my-2 my-sm-0" type="submit">
                            <span class="oi oi-magnifying-glass">查找</span>
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

<main class="container" >
		{% for message in get_flashed_messages(with_categories = True)%}
		<div class = "alert alert-{{ message[0]}}" role = 'alert'>
			<button type = "button" class = "close" data-dismiss = "alert">&times;</button>
			{{ message[1]}}
			</div>

		{% endfor %}


	{% block content %}
	主页

	{% endblock content %}
 
	{%  block footer%}
            <footer>
                <p class="float-right">
                    <small>&copy; 2019
                        <a href="#" title="Written by Honorl ">Honorl</a> -
                        <a href="#" title="Fork me on GitHub">关于</a> -
                        <a href="" title="poo project">Processing of Documents</a>
                    </small>
				<small> - Capture and Intelligent Processing of Documents</small>
                </p>
            </footer>

	{% endblock%}

		</main>
</body>
</html>

